//TODO: Implementieren
.heading-container{
    border-bottom: 2px solid;
    margin-bottom: 5px;
    padding-bottom: 5px;
    text-align: center;

    .wi{
        margin-left: 0.5rem;
    }
}

.heading-city{
    color: #1f1430;
    font-weight: bold;
    margin-top: 0.60rem;
    opacity: 0.75;
    text-transform: uppercase;

}